<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731145740296-2rnrdc3783ofibeku79lcj97d7otqhuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731145740296-2rnrdc3783ofibeku79lcj97d7otqhuo</string>
	<key>API_KEY</key>
	<string>AIzaSyAoR_rcJoqO6lFwAX_OBDFpdXj_bdbUyyw</string>
	<key>GCM_SENDER_ID</key>
	<string>731145740296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-mrzapanta1</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-mrzapanta1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731145740296:ios:9fe472f959ac56fcd371bd</string>
</dict>
</plist>